@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Lemonada:wght@500&family=Libre+Franklin:wght@400;500;600;700;800;900&family=PT+Sans+Narrow:wght@400;700&family=Philosopher&family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Lemonada:wght@500&family=Libre+Franklin:wght@400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=PT+Sans+Narrow:wght@400;700&family=Philosopher&family=Poppins:wght@400;500;600;700;800;900&display=swap");
:root {
  --main-color: #fe3c57;
  --sub-color: #fff;
  --bg-color: black;
  --font-family: "Poppins";
  --font-family_1: "Manrope";
}
a {
  text-decoration: none !important;
}
p {
  margin-bottom: 0 !important;
}
ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
body img {
  max-width: 100%;
}
/* .........................................

                navigation bar 

.............................................*/

.navigation_bar {
  padding: 10px 80px;
  background-color: var(--bg-color);
}
nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.navigation_bar .logo p {
  color: var(--sub-color);
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
}
.navigation_bar .logo span {
  color: var(--main-color);
}

.navigation_bar .menu ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navigation_bar .menu a {
  color: var(--sub-color);
  font-family: var(--font-family_1);
  font-size: 18px;
  font-weight: 600;
}
.navigation_bar .menu a.active {
  color: var(--main-color);
}
.humberger {
  display: none;
  font-size: 20px;
  color: var(--sub-color);
}

.hero {
  padding: 100px 0;
  background-color: var(--bg-color);
}
.hero_left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero_text h2 {
  color: var(--sub-color);
  font-family: var(--font-family);
  font-size: 80px;
  font-weight: 600;
}

.hero_text p {
  color: var(--sub-color);
  font-family: var(--font-family_1);
  font-size: 20px;
  font-weight: 500;
}
.hero_text button {
  padding: 10px 40px;
  background-color: var(--main-color);
  color: var(--sub-color);
  border: none;
  border-radius: 50px;
}
.image_part {
  z-index: 99;
  position: relative;
}
.image_part::after {
  height: 300px;
  width: 300px;
  content: "";
  background-image: url(assets/Group.png);
  top: -35px;
  left: -40px;
  position: absolute;
  z-index: -50;
}

.image_part::before {
  height: 300px;
  width: 300px;
  content: "";
  background-image: url(assets/Group.png);
  bottom: -35px;
  right: -67px;
  position: absolute;
  z-index: -50;
}

/*....................... 

            service
....................... */

.same_sec,
.same_sec1 {
  margin-top: 80px;
}

.service_main {
  padding: 0 30px;
  /* display: flex;
  gap: 20px;
  justify-content: space-between; */
  background-color: var(--bg-color);
  border-radius: 15px;
}
.service_sec {
  padding: 30px;
  text-align: center;
  height: 100%;
  border-right: 1px solid var(--sub-color);
}
.bod {
  border-right: 0;
}
.service_text h3 {
  margin-top: 20px;
  color: var(--sub-color);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
}
.service_text p {
  margin-top: 20px;
  color: #d9d9d9;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
}

/* .....................

        about
......................*/

.about_image img {
  width: 100%;
}

.about_image {
  z-index: 99;
  position: relative;
}
.about_image::after {
  height: 300px;
  width: 300px;
  content: "";
  background-image: url(assets/Group1.png);
  top: -35px;
  left: -40px;
  position: absolute;
  z-index: -50;
}

.about_image::before {
  height: 300px;
  width: 300px;
  content: "";
  background-image: url(assets/Group1.png);
  bottom: -35px;
  right: -45px;
  position: absolute;
  z-index: -50;
}
.about_text_main {
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about_text h2 {
  font-family: var(--font-family);
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 30px;
}

.about_text p {
  color: #616161;
  font-family: var(--font-family_1);
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 25px;
}

/* .................
     slider 
.................*/
.slider_bg {
  padding: 100px 0;
  background: #0a6638;
}
.slidet_title {
  text-align: center;
}

.slidet_title h3 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 20px;
}
.slidet_title p {
  color: #d9d9d9;
  font-family: var(--font-family_1);
  font-size: 18px;
  font-weight: 400;
}
.slider_div {
  padding-top: 40px;
}
.owl-theme .owl-nav {
  color: #d9d9d9 !important;
  font-size: 50px !important;
}
.owl-next {
  position: absolute;
  right: -5%;
  top: 35%;
}

.owl-prev {
  position: absolute;
  top: 35%;
  left: -5%;
}
